# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/apps/web/node_modules
/apps/api/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/.next

# testing
/coverage

# next.js
/apps/web/.next/
/out/

# production
/build
/apps/api/dist
/packages/db/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

terraform.tfvarsterraform.tfstate
.terraform/
terraform.tfstate
terraform.tfvars
*.tfvars
terraform.tfstate.backup